<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="android.intent.category.MASTER_CLEAR.permission.C2D_MESSAGE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="agroPest"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".Screens.AboutFertilizerActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen"/>
        <activity
            android:name=".Screens.AboutPesticidesActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.UpdateProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity android:name=".BottomSheetFragment" />
        <activity
            android:name=".Screens.DetailsFertilizerCropActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.DetailsPesticidesCropActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.FaqActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.AgriServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.FertilizerPrice"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.PesticidePrice"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.PesticidesActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.FertilizerActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".Screens.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LoginScreen" />
        <activity
            android:name=".Screens.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>